<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>RE: YapStone International Ltd (Trading as HolidayRentPayment)</title>
  <center><img src="C:/Users/jskilbeck/Documents/Coding/Ruby/sepa/assets/yapint.png", alt="YapStone Letterhead" alight="middle"></center>
</head>

<body>
  <h4>Customer Name: <%= firstname_erb %> <%= lastname_erb %></h4>
  <h4>Listing Number: <%= listing_name_erb %> </h4>
  <p></p><p></p>
  <p>Address: <strong><%= address_erb %></p>
  <p><%= city_erb %> <%= state_erb %></p>
  <p><%= country %></strong></p>

  <p>RE: <strong>YapStone International Ltd (Trading as HolidayRentPayment)</strong></p>

  <p>IMPORTANT: </strong>Confirmation of a Unique Mandate Reference (“UMR”) number change for your existing SEPA Direct Debit Mandate.</p>
  <p></p>

  <br>
  <h3>Dear <%= firstname_erb %> <%= lastname_erb %>:</h3>

  <p>As you are aware, you have previously submitted a signed Direct Debit Mandate form to HolidayRentPayment which we hold on file to facilitate your ability to process refunds through our online payment service.</p>

  <p>In order to ensure that our system complies with the SEPA scheme, we are obliged to change your UMR Number.  This change is necessary to ensure the successful debiting of your account following your initiation of a refund to your customers.  Please note, we have changed no other information regarding your account.  </p>

  <p>Please review the account holder details below for accuracy. If everything is correct, you need do nothing and the new UMR will be automatically applied to your mandate.  If any information is incorrect, please contact us as soon as possible on: <strong>+44-2035143841</strong> or by email at: <a href="mailto:customerservice@holidayrentpayment.eu?subject=New UMR Information">customerservice@holidayrentpayment.eu</a>.</p>

  <p>Going forward, any refunds will be processed as normal. You have the right to cancel your SEPA Direct Debit Mandate at any time by writing to YapStone International Ltd. and informing your bank or Building Society in good time.  Please note that where a Direct Debit Mandate has been cancelled you will no longer have the ability to process refunds through our system. </p>

  <p>To simplify the process for you, we are applying the new UMR number toward the existing signed mandate we have on file from you.  Therefore, going forward, you authorise <font color="red">(A)</font> YapStone International Ltd to send instructions to your bank to debit your account and <font color="red">(B)</font> your bank to debit your account in accordance with the instruction from YapStone International Ltd.<font color="red">*</font> </p>

  <br>

  <table align="center", border="1">
    <tr>
      <th>Description</th>
      <th>Account Holder Details:</th>
    </tr>

    <tr>
      <td>(*) Account Holder name(s): </td>
      <td> <%= firstname_erb %> <%= lastname_erb %></td>
    </tr>

    <tr>
      <td>Bank Identification Code (BIC): </td>
      <td><%= bic_erb %></td>
    </tr>

    <tr>
      <td>Old Unique Mandate Reference (UMR): </td>
      <td><%= mandate_old_erb %></td>
    </tr>

    <tr>
      <td>New Unique Mandate Reference (UMR): </td>
      <td><%= mandate_new_erb %></td>
    </tr>

    <tr>
      <td>Date of sign up: </td>
      <td><%= mandate_date_erb %></td>
    </tr>

    <tr>
      <td>Creditor Identifier: </td>
      <td>YapStone International LTD, IE68ZZZ307559</td>
    </tr>

    <tr>
      <td>Type of Payment: </td>
      <td>Recurrent</td>
    </tr>
  </table>

  <p>Please retain this confirmation letter for your records.</p>

  <br>

  <p> Yours sincerely, </p>
  <br>
  <p> Tracey Dollard </p>
  <p> YapStone International Ltd. </p>

  <br>
  <p>--------------------------</p>
  <p><font color="red">*</font> As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited. Your rights are explained in a statement that you can receive from your bank.</p>

  <br>
</body>


<footer>
  <br>
  <p> <i>Yapstone International Ltd. │ Units 7/8 Millmount Development Centre, Millmount, Drogheda, Co Louth, Ireland │ +353(0)1 664 1529 | Registered No. 502779 VAT No. IE 9823376P <i> </p>

</html>