<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>Sujet: YapStone International Ltd (Trading as HolidayRentPayment)</title>
  <center><img src="http://www.holidayrentpayment.eu/assets/images/logo-hrp.png", alt="YapStone Letterhead" alight="middle"></center>
</head>

<body>
  <h4>Nom: <%= firstname_erb %> <%= lastname_erb %></h4>
  <h4>Listing: <%= listing_name_erb %> </h4>
  <p></p><p></p>
  <p>Adresse: <strong><%= address_erb %></p>
  <p><%= city_erb %> <%= state_erb %></p>
  <p><%= country %></strong></p>

  <p>Sujet: <strong>YapStone International Ltd (Trading as HolidayRentPayment)</strong></p>

  <p>IMPORTANT: </strong>Confirmation de modification de numéro de référence de votre mandat de prélèvement SEPA (“UMR”) enregistré sur votre profile HolidayRentPayment.</p>
  <p></p>

  <br>
  <h3>Madame/Monsieur <%= firstname_erb %> <%= lastname_erb %>:</h3>

  <p>Vous nous avez fourni une autorisation de prélèvement que nous avons enregistré sur votre dossier HolidayRentPayment afin de vous donner la possibilité de rembourser vos clients.</p>

  <p>Afin d’être en conformité avec les directives établies par SEPA, nous devons modifier votre numéro UMR ou numéro de référence de votre mandat. Ce changement est nécessaire pour que les remboursements émanant de votre plateforme de réservation puissant être débités de votre compte bancaire. Merci de noter que nous n’avons changé aucune autre information relative à votre compte.  </p>

  <p>Veuillez vérifier que les détails indiqués ci-dessous sont corrects. Si ces données sont exactes, aucune action n’est nécessaire de votre part, la nouvelle référence UMR sera ajoutée directement à votre mandat. Au contraire, si les informations indiquées sont invalides, merci de nous contacter rapidement au  <strong>0805.080247 </strong> or by email at: <a href="mailto:serviceclienteleAB@holidayrentpayment.eu">serviceclienteleAB@holidayrentpayment.eu</a>.</p>

  <p>Une fois que cette mise à jour aura été effectuée vous pourrez effectuer vos remboursements normalement. Vous avez le droit d’annuler votre autorisation de prélèvement à tout moment en écrivant à YapStone International Ltd et en informant votre banque en temps utile.  Veuillez noter, cependant, qu’une fois votre mandat annulé, vous n’aurez plus la possibilité de rembourser vos clients par l’intermédiaire de notre système.</p>

  <p>Afin de simplifier ces démarches, nous allons modifier la référence indiquée sur l’autorisation que vous avez signée et que nous avons conservée sur votre dossier. En conséquence, vous autorisez désormais  <font color="red">(A)</font> YapStone International Ltd à passer des instructions à votre banque pour le débit de votre compte bancaire et <font color="red">(B)</font> votre banque à débiter votre compte en accord avec les instructions émanant de YapStone International Ltd.<font color="red">*</font> </p>

  <br>

  <table align="center", border="1">
    <tr>
      <th>Description</th>
      <th>Détails du détenteur de compte:</th>
    </tr>

    <tr>
      <td>(*) Nom du détenteur du compte </td>
      <td> <%= firstname_erb %> <%= lastname_erb %></td>
    </tr>

    <tr>
      <td>Bank Identification Code (BIC): </td>
      <td><%= bic_erb %></td>
    </tr>

    <tr>
      <td>Ancienne référence unique du mandate  (UMR): </td>
      <td><%= mandate_old_erb %></td>
    </tr>

    <tr>
      <td>Nouvelle référence unique du mandat (UMR): </td>
      <td><%= mandate_new_erb %></td>
    </tr>

    <tr>
      <td>Date de la signature: </td>
      <td><%= mandate_date_erb %></td>
    </tr>

    <tr>
      <td>Identifiant du créditeur: </td>
      <td>YapStone International LTD, IE68ZZZ307559</td>
    </tr>

    <tr>
      <td>Type de paiement: </td>
      <td>Recurrent</td>
    </tr>
  </table>

  <p>Merci de conserver ce document pour vos dossiers. </p>

  <br>

  <p> Très Sincèrement, </p>
  <br>
  <p> Tracey Dollard </p>
  <p> YapStone International Ltd. </p>

  <br>
  <p>--------------------------</p>
  <p><font color="red">*</font> Vos droits concernant ce mandate sont expliqués dans un document que vous pouvez obtenir auprès de votre banque.</p>

  <br>
</body>


<footer>
  <br>
  <p> <i>Yapstone International Ltd. │ Units 7/8 Millmount Development Centre, Millmount, Drogheda, Co Louth, Ireland │ +353(0)1 664 1529 | Registered No. 502779 VAT No. IE 9823376P <i> </p>

</html>