<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <title>RE: YapStone International Ltd ( Handel der Urlaubs-Online-Zahlung)</title>
  <center><img src="http://www.holidayrentpayment.eu/assets/images/logo-hrp.png", alt="YapStone Letterhead" alight="middle"></center>
</head>

<body>
  <h4>Kundenname: <%= firstname_erb %> <%= lastname_erb %></h4>
  <h4>Listing: <%= listing_name_erb %> </h4>
  <p></p><p></p>
  <p>Adresse: <strong><%= address_erb %></p>
  <p><%= city_erb %> <%= state_erb %></p>
  <p><%= country %></strong></p>

  <p>RE: <strong>YapStone International Ltd ( Handel der Urlaubs-Online-Zahlung)</strong></p>

  <p>WICHTIG: </strong>Bestätigung einer Einzigartige Mandatsreferenz ("UMR")-Änderung für Ihre bestehenden SEPA-Lastschrift-Mandats.</p>
  <p></p>

  <br>
  <h3>Sehr geehrter Kundin, sehr geehrter Kunde, <%= firstname_erb %> <%= lastname_erb %>:</h3>

  <p>Sie haben bereits ein unterschriebenes Formular der Einzugsermächtigung von HolidayRentPayment eingesendet, dass wir in unseren Daten gespeichert haben. Dieses Formular gewährleistet, die Erleichterung und Erstattungen der Mietzahlungen durch unser Online-Zahlungsservice.</p>

  <p>Um sicherzustellen, dass unser System das SEPA-Verfahren erfüllt, sind wir verpflichtet, Ihre UMR Nummer zu ändern. Diese Änderung ist notwendig, um die erfolgreiche Abbuchung von Ihrem Konto, nach einer Rückerstattung an Ihre Kunden zu gewährleisten. Bitte beachten Sie, dass wir keine anderen Informationen bezüglich Ihres Kontos geändert haben.  </p>

  <p>Bitte überprüfen Sie die unten aufgeführten Kontoangaben auf ihre Richtigkeit. Wenn alles korrekt ist, können Sie diese Information ignorieren, da wir die neue UMR automatisch in Ihrem Mandat aktualisieren. Bei weiteren Fragen oder nicht Übereinstimmung Ihrer Daten, können Sie uns unter folgender Telefonnummer erreichen:  <strong>0800-1037103 </strong> or by email at: <a href="mailto:KundenserviceFW@holidayrentpayment.eu">KundenserviceFW@holidayrentpayment.eu</a>.</p>

  <p>Alle Erstattungen werden in Zukunft sofort und auf schnellsten Wege bearbeitet. Sie haben das Recht, Ihre SEPA-Lastschrift-Mandat jederzeit zu kündigen indem Sie eine schriftliche Kündigung an YapStone International Ltd einreichen. Bitte beachten Sie, dass ein storniertes Lastschrift-Mandat nicht mehr gültig ist und Sie damit nicht mehr die Möglichkeit haben, Mieterstattungen durch unser System auszuführen.</p>

  <p>Um den Prozess für Sie zu vereinfachen, werden wir die neue UMR Nummer an ihr bestehendes, unterzeichnetes Mandat anfügen. Hiermit authorisieren Sie uns, (A) YapStone International Ltd Anweisungen an Ihre Bank zu senden, um Ihr Konto zu belasten (B) Ihre Bank zu belasten, in Übereinstimmung mit der Anweisung von YapStone International Ltd.<font color="red">*</font> </p>

  <br>

  <table align="center", border="1">
    <tr>
      <th>Beschreibung</th>
      <th>Kontoinhaber Informationen:</th>
    </tr>

    <tr>
      <td>(*) Name des Kontoinhabers (s):  </td>
      <td> <%= firstname_erb %> <%= lastname_erb %></td>
    </tr>

    <tr>
      <td>Bank Identification Code (BIC): </td>
      <td><%= bic_erb %></td>
    </tr>

    <tr>
      <td>Alte Einzigartige Mandatsreferenz  (UMR): </td>
      <td><%= mandate_old_erb %></td>
    </tr>

    <tr>
      <td>Neue einzigartige Mandatsreferenz  (UMR): </td>
      <td><%= mandate_new_erb %></td>
    </tr>

    <tr>
      <td>Datum der Anmeldung: </td>
      <td><%= mandate_date_erb %></td>
    </tr>

    <tr>
      <td>Creditor Identifier: </td>
      <td>YapStone International LTD, IE68ZZZ307559</td>
    </tr>

    <tr>
      <td>Art der Zahlung: </td>
      <td>Wiederkehrende</td>
    </tr>
  </table>

  <p>Bitte bewahren Sie dieses Dokument für Ihre Unterlagen auf.</p>

  <br>

  <p> Mit freundlichen Grüßen, </p>
  <br>
  <p> Tracey Dollard </p>
  <p> YapStone International Ltd. </p>

  <br>
  <p>--------------------------</p>
  <p><font color="red">*</font> Als Teil Ihrer Rechte können Sie von Ihrer Bank eine Rückerstattung gemäß der allgemeinen Geschäftsbedingungen Ihres Bankvertrags verlangen. Die Rückerstattung muss innerhalb von 8 Wochen ab dem Datum, an dem Ihr Konto belastet wurde, geltend gemacht werden. Ihre Rechte werden in einer Aufstellung erklärt, die Sie von Ihrer Bank erhalten können.</p>

  <br>
</body>


<footer>
  <br>
  <p> <i>Yapstone International Ltd. │ Units 7/8 Millmount Development Centre, Millmount, Drogheda, Co Louth, Ireland │ +353(0)1 664 1529 | Registered No. 502779 VAT No. IE 9823376P <i> </p>

</html>